NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2cGZkaWp1ZnFtdHJqdm1nY2phIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5ODkwMDUsImV4cCI6MjEwMTU2NTAwNX0.xwKxFQUZXPJZvvVkATvCzHA6tLaMemMBmwpv0l6u1K8
